*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(75, 75, 255);
  color: white;
}
.container{
  display: flex;
  padding: 50px;
  width: 100vw;
  height: 100vh;
}
.input-text{
  width: 50vw;
  padding: 20px;
  font-size: 18px;
  height: 60vh;
  margin-top: 20px;
  border: 2px solid  rgb(57, 57, 57);
}
.output-text{
  width: 35vw;
  height: 70vh;
  font-size: 18px;
  background-color: rgb(57, 57, 57);
  border-radius: 10px;
  box-shadow: 10px 10px 8px  rgb(40, 40, 40);
  padding: 50px;
}
.output{
  margin-left: 5vw;
}
h3{
  font-size: 24px;
  font-weight: lighter;
}